
@import url("https://fonts.googleapis.com/css?family=Exo:500,600,700|Roboto&display=swap");

  .separator {
    /* Content is centered horizontally */
    align-items: center;
    display: flex;
  
    /* Used to set the position of text */
    position: relative;
    padding: 20px 0px;
    margin-bottom: 10px;
  }
  
  .container__content {
    /* We won't see the separator line */
    background: #fff;
  
    /* Displayed at the center of container */
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

    font-family: "Exo", sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: black;
  }
  
  .container__separator {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 1px;
    width: 100%;
  }

h4 {
    font-size: 1em;
    margin-left: 10px;
}

.form-floating input {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    margin-bottom: 30px;
   }
  
   .form-floating select {
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    margin-bottom: 30px;
   }
  
   .form-floating i {
    position:absolute;
    top: 18px;
    right: 10px;
    font-size: 1.5em;
    visibility: hidden;
   }
  
   .form-floating small.helper {
    color: rgb(184, 184, 184);
    position: absolute;
    bottom: -20px;
    left: 10px;
   }
   
   .form-floating small.notification {
    color: rgb(184, 184, 184);
    visibility: hidden;
    position: absolute;
    bottom: -2px;
    right: 20px;
   }
  
   .form-floating.success input {
    border-color: #2ecc71;
   }
  
  .form-floating.error input {
    border-color: #e74c3c;
   }
  
   .form-floating.success select {
    border-color: #2ecc71;
   }
  
   .form-floating.error select {
    border-color: #e74c3c;
   }
  
  .form-floating.success i.icofont-check-circled {
    color: #2ecc71;
    visibility: visible;
  }
  
  .form-floating.error i.icofont-close-circled {
    color: #e74c3c;
    visibility: visible;
  }
  
  .form-floating.error small.notification {
    color: #e74c3c;
    visibility: visible;
  }
  
  
  
  

  /*
  .form-label {
    margin: 10px 0px 0px 10px;
  }

  .mb-3 i {
    position:absolute;
    top: 125px;
    left: 20px;
    font-size: 1em;
    visibility: hidden;
   }
  
   .mb-3 small.helper {
    color: rgb(184, 184, 184);
    position: absolute;
    bottom: -23px;
    left: 20px;
   }
   
   .mb-3 small.notification {
    color: rgb(184, 184, 184);
    visibility: hidden;
    position: absolute;
    bottom: -23px;
    left: 40px;
   }
  
   .mb-3.success input {
    border-color: #2ecc71;
   }
  
  .mb-3.error input {
    border-color: #e74c3c;
   }
  
   .mb-3.success select {
    border-color: #2ecc71;
   }
  
   .mb-3.error select {
    border-color: #e74c3c;
   }
  
  .mb-3.success i.icofont-check-circled {
    color: #2ecc71;
    visibility: visible;
  }
  
  .mb-3.error i.icofont-close-circled {
    color: #e74c3c;
    visibility: visible;
  }
  
  .mb-3.error small.notification {
    color: #e74c3c;
    visibility: visible;
  }*/

  .btn.verify {
    margin: 0px;
  }